html,body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.form-row {
    pointer-events: all;
    padding: 10px;
    opacity: 1;
}

.form-row.disabled {
    pointer-events: none;
    opacity: .5;
}

.results { 
    margin-top: 20px;
    border-top: 1px solid #cdcdcd;
}

.results-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
}

.results-row span {
    display: inline-block;
}

.user-error {
    margin-left: 10px;
    color: red;
}
