html,body {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row {
    pointer-events: all;
    padding: 10px;
    opacity: 1;
}

.form-row.disabled {
    pointer-events: none;
    opacity: .5;
}